:root{
    --white: #fff;
    --black: #000000;
    --light--green: #00CD14;
    --app--red: #ED2027; 
    --app--blue: #5683ff; 
    --app--green: #03A252; 
    --app-dark--green: #002600;
}


.approvals-page{
    padding: 1% 1% 3% 1%;;
    background: linear-gradient(to bottom,rgb(14, 57, 14), white, white, white);
}

.approvals-page-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: var(--white);
    border-radius: 5px 5px 0px 0px;
    gap: 10px;
    padding: 1% 5%;
    font-size: 15px;
    font-weight: 500;
}
.approvals-page-notice h5{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 16px;
}
.approvals-page-notice span{
    color: var(--app--red);
}
.approvals-page-banner img{
    width: 300px;
}



.approvals-container{
    display: flex;
    justify-content: column;
    width: 100%;
}

.approvals-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 50%;
    gap: 8px;
    background-color: var(--white);
    padding: 10px 10px 10px 10px;
}
.approvals-right{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    gap: 3px;
    background-color: lightgray;
    padding: 10px 10px 10px 10px;
}
.approvals-dash-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--white);
    gap: 8px;
    height: 100%;
    padding: 10px;
}
.approvals-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5px 5px 5px 10px;
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--app--green);
}
.approvals-dash{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid var(--black);
    width: 100%;
    gap: 8px;
}
.approvals-heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.sub-title{
    font-size: 15px;
    font-weight: 600;
    color: var(--light--green);
}
.filter-instructions{
    color: red;
    font-size: 14px;
}
.approvals-dropdowns-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.approvals-dropdowns-container p{
    display: flex;
    font-size: 14px;
}
.approvals-inputs-container{
    display: flex;
    width: 100%;
    gap: 20px;
}
.approvals-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.approvals-inputs label{
    font-size: 13px;
    color: var(--app-dark--green);
    padding-bottom: 5px;
}
.approvals-inputs select{
    background-color: var(--white);
    border: 1px solid rgb(133, 133, 133);
    border-radius: 3px;
    padding: 4px 8px;
    font-size: 12px;
    color: rgb(136, 136, 136);
}
.approvals-inputs input{
    background-color: var(--white);
    border: 1px solid rgb(133, 133, 133);
    border-radius: 3px;
    padding: 4px 8px;
    width: 100%;
}



.additional-comments{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.additional-comments textarea{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
    padding: 4px;
    height: 100%;
    width: 100%;
}
.additional-comments label{
    font-size: 14px;
    padding-bottom: 5px;
    width: 100%;
}





.approved-reports{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 5px;
    background-color: rgba(180, 243, 204, 0.51);
    overflow: auto;
}
.view-btn{
    cursor: pointer;
    background-color: var(--app--blue);
    color: var(--white);
    font-weight: 500;
    padding: 2px 6px;
    border: none;
    border-radius: 3px;
}
.add-btn{
    cursor: pointer;
    background-color: var(--app--green);
    color: var(--white);
    font-weight: 500;
    padding: 2px 6px;
    border: none;
    border-radius: 3px;
}
.remove-btn{
    cursor: pointer;
    background-color: var(--app--red);
    color: var(--white);
    font-weight: 500;
    padding: 2px 6px;
    border: none;
    border-radius: 3px;
}


.upload-form-btns{
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.upload-form-btns button{
    cursor: pointer;
    padding: 10px 15px;
    width: 30%;
    color: var(--white);
    border: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
}
.btn-clear{
    background-color: #ED2027;
}
.btn-submit{
    background-color: var(--light--green);
}




@media screen  and (max-width: 1024px){
    .approvals-container{
        height: 100%;
        flex-direction: column;
    }
    .approvals-left{
        width: 100%;
    }
    .approvals-right{
        width: 100%;
    }
    .approvals-dash-container{
        width: 100%;
    }
    .approvals-form-container{
        width: 100%;
    }
    .approvals-page-banner img{
        width: 280px;
    }
    .approvals-page-notice h5{
        font-size: 16px;
    }
    .approvals-page-banner{
        flex-direction: column;
        padding-bottom: 30px;
        gap: 10px;
        padding-top: 10px;
    }
    .approvals-dropdowns-container{
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
    }
    .upload-dropdowns-container p{
        font-size: 16px;
        padding-bottom: 3px;
    }
    .approvals-inputs{
        width: 100%;
    }
    .approvals-inputs select{
        width: 100%;
        padding: 6px;
        font-size: 14px;
    }
    .approvals-inputs input{
        width: 100%;
        padding: 6px;
        font-size: 14px;
    }
    .upload-heading{
        flex-wrap: wrap;
    }
    .sub-title{
        font-size: 16px;
    }
    .filter-instructions{
        font-size: 12px;
    }
    .reports-table{
        padding: 0px;
    }
}