:root{
    --white: #fff;
    --black: #000000;
    --light--green: #00CD14;
    --app--red: #ED2027; 
    --app--green: #03A252; 
    --app-dark--green: #002600;
}

.compare-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 89vh;
    width: 100%;
    font-size: 20px;
    color: var(--white);
    font-weight: 600;
    opacity: 30%;
}
.compare-container img{
    width: 400px;
}