:root{
    --white: #fff;
    --black: #000000;
    --light--green: #00CD14;
    --app--red: #ED2027; 
    --app--blue: #47a2f7; 
    --app--green: #03A252; 
    --app-dark--green: #002600;
}

.dashboard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 1% 3% 1%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom,rgb(14, 57, 14), white, white, white);
}
.dash-hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 3px;
}
.explore-msg{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    padding: 0px;
}
.msg{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;  
    width: 100%;
    padding: 5px 0px;
}
.explore-msg span {
  color: lawngreen;
  /* Animate the text to appear letter by letter */
  /* animation: typing 3s steps(30, end) infinite, blink-caret 0.75s step-end infinite; */
}

/* Typing effect: reveals the text letter by letter */
/* @keyframes typing {
  from { width: 0; }
  to { width: 37%; }
} */

/* Cursor blinking effect */
/* @keyframes blink-caret {
  50% { border-color: transparent; }
} */

/* @keyframes blink{
    25%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
} */
.hero-btns{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.explore-msg button{
    cursor: pointer;
    background-color: var(--light--green);
    color: var(--white);
    border: none;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px 8px;
    margin-right: 5px;
    transition: .2s ease-in-out;
}
.explore-msg button:hover{
    background-color: #1eec32;
    transition: .2s ease-in-out;
}
.explore-msg button i{
    font-size: 16px;
}
.explore-msg img{
    width: 50px;
}
/* .contact-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    padding: 3px 0px 3px 0px;
    gap: 10px;
}
.contact-info-container i{
    font-size: 16px;
    color: var(--light--green);
}
.mefmi-address{
    font-size: 12px;
    color: var(--white);
    border: solid 1px var(--light--green);
    border-radius: 5px;
    padding: 2px 5px;
}
.mefmi-contact{
    font-size: 12px;
    color: var(--white);
    border: solid 1px var(--light--green);
    border-radius: 5px;
    padding: 2px 5px;
} */

.dashboard-inner-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0px;
    background-color: lightgray;
}
.country-side-menu{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    z-index: 998;
    transition: .3s ease-in-out; 
}
.country-side-menu.active{
    left: 0;
    transition: .3s ease-in-out;
}
.menu-overlay{
    position: fixed;
    cursor: pointer;
    top: 90px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 72, 0);   
    z-index: 997; 
}
.country-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    top: 24px;
    left: 1%;
    height: 50%;
    width: 50%;
    z-index: 998;
}
.menu-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 15px;
    background-color: var(--light--green);
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
    border-radius: 0px;
    z-index: 20;
    box-shadow: 2px -3px 10px rgba(0, 0, 0, 0.8);
}
.menu-title i{
    cursor: pointer;
    font-size: 20px;
    color: var(--white);
}
.country-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px;
    border-radius: 0px;
    background-color: var(--white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    border: 2px solid var(--app--green);
}
.country-map-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
    height: 100%;
    width: 45%;
}
.country-name{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    color: var(--white);
    font-size: 14px;
    background-color:  var(--app-dark--green);
    padding: 8px 12px;
    margin: 10px 0px 10px 10px;
    border-radius: 5px;
    height: 10%;
}
.country-map-container{
    border-radius: 0px;
    background-color: grey;
    border: 2px solid var(--app--green);
}
.country-map-container img{
    width: 80%;
    height: auto;
    margin: 10px 10px;
    border: 0px solid var(--black);
    border-radius: 5px 5px 5px 5px;
    background-color: lightgray
}
.country-menu-bio{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 55%;
    height: 100%;
    color: var(--black);
    background-color: var(--white);
    padding: 10px 20px;
    border-radius: 0px;
}
.country-menu-bio img{
    width: 50px;
    height: 35px;
    padding-left: 10px;
}
.country-menu-bio h2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-weight: 12px;
    border-bottom: 2px solid var(--app--green) ;
}
.country-menu-bio p{
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(240, 233, 233);
}
.country-menu-bio span{
    color: var(--app--green);
}
.dash-explore-more-btn{
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    align-self: flex-end;
    padding: 8px 10px;
    margin: 5px 0px 10px 0px;
    background-color: var(--white);
    color: var(--white);
    background-color: var(--light--green);
    border: 1px solid var(--app--green);
    border-radius: 3px;
    transition: .1s ease-in;
}
.country-menu-bio button:hover{
    color: var(--white);
    background-color: var(--light--green);
    transition: .1s ease-in;
}
.country-slider-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3px 5px;
    color: var(--white);
    font-size: 14px;
    border-radius: 5px;
    transition: .2s;
    background-color: var(--app--green);
}
.country-slider-icons i:hover{
    color: var(--white);
    transition: .1s ease-in;
}
.country-slider-icons i{
    color: var(--white);
    font-size: 24px;
    padding: 0px 5px;
}
.slider-icon-prev{
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
}
.slider-icon-next{
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
}
.dash-container-left{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width:22%;
    height: 100vh;
    margin: 3px;
    z-index: 995;
}
.dash-container-mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
    height: 100vh;
    margin: 3px 0px;
}
.dash-container-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100vh;
    margin: 3px;
}

.dash-filters-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white);
    height: 55.5%;
    width: 100%;
    padding: 0px 0px;
    margin-bottom: 2px;
    border-radius: 5px 0px 0px 0px;
    gap: 5px;
}
.dash-filters-container p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--app--green);
    color: var(--white);
    padding: 5px 8px 5px 8px;
    width: 100%;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 5px;
}
.filters-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.filters-container i{
    font-size: 15px;
}
.dash-filters{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    color: var(--white);
    font-size: 13px;
    gap: 10px;
}
.dash-filters-title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--app--red);
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    padding: 0px 0px 5px 5px;
}
.dash-currency-input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 4px; 
    color: var(--white);
    background-color: var(--app--green);
    border-radius: 3px; 
    font-size: 13px;
}

.dash-inputs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    background-color: rgb(215, 212, 212);
    padding: 15px 10px 0px 5px;
    margin: 0px 5px 0px 5px;
}
.dash-inputs{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px 0px 5px;
}
.dash-inputs label{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 11px;
    font-weight: 600;
    align-self: center;
    padding-bottom: 4px;
    color: var(--black);
}
.dash-select{
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}
#select-currency{
    font-size: 13px;
    padding: 3px;
    width: 70px;
}
.dash-inputs select{
    cursor: pointer;
    appearance: none;
    font-size: 11.5px;
    border-radius: 2px;
    border: 0.5px solid darkgray;
    padding: 5px;
    width: 100%;
    color: var(--black);
}
.drop-icon{
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98%;
    background-color: #65c66f;
    border-radius: 0px 2px 2px 0px;
}
.drop-icon i{
    font-size: 24px;
    color: var(--white);
}
.reset-filters{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
}
.reset-filters button{
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 10px;
    background-color: var(--light--green);
    color: var(--white);
    border: 1px solid var(--app--green);
    border-radius: 1px;
    transition: .1s ease-in-out;
    margin-top: 3px;
}
.reset-filters button:hover{
    background-color: var(--app--green);
    transition: .1s ease-in-out;
}
.color-codes-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
}
.color-key-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--black);
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 11px;
}
.color-bar{
    width: 100%;
    padding: 6px;
    background: linear-gradient(to right, #00ed00, #ff0000);
    border-radius: 5px;  
}
.color-key-labels{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--black);
    padding: 5px 2px;
    font-size: 12px;
    font-weight: 600;
}


.dash-cards-container{
    display: flex;
    flex-direction: column;
    height: 43%;
    width: 100%;
}
.dash-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0ffe3;
    height: 21%;
    width: 100%;
    margin: 2px 0px;
    gap: 6px;
    border: 2px solid var(--light--green);
}
.dash-reports{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.reports-heading{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    padding: 5px;
    color: var(--white);
    background-color: var(--app--green);
}
.reports-dash-title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    padding: 5px;
}
.card-label{
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
}
.card-count{
    font-size: 14px;
    font-weight: 600;
    color: var(--app--green);
}

.map-container{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgb(37, 69, 37), rgb(76, 150, 88), rgb(25, 51, 25));
    height: 56.3%;
    width: 100%;
    margin: 2px 0px;
}
.map-inner-container{
    overflow: hidden;
    object-fit: cover;
    object-position: center;    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    width: 100%;
}
/* .map-inner-container img{
    position: relative;
    max-width: 650px;
    max-height: 250px;
} */

.map-border-patch{
    background-color: lightgray;
    position: absolute;
    width: 100%;
    top: 0;
    padding: 3px;
    border-radius: 0px;
}
.map-title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--app--green);
    color: var(--white);
    position: absolute;
    display: flex;
    justify-content: start;
    width: 100%;
    top: 3px;
    padding: 6px 8px;
    border-bottom: 2px solid var(--app-dark--green);
    font-size: 14px;
    font-weight: 600;
}
.map-title i{
    font-size: 14px;
    padding-right: 5px;
    color: var(--white);
}
.dash-card-stats{
    position: absolute;
    left: 10px;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 12px;
    padding: 10px 15px;
    color: var(--white);
    background-color: #103d10b6;
    border-radius: 3px;
    border: 1px solid darkgray;
    z-index: 2;
    font-size: 18px;
    gap: 2px;
}
.country-dash{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
}
.overall-totals p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light--green);
    font-size: 40px;
    font-weight: 600;
    padding: 0;
}
.overall-totals span{
    font-weight: 500;
    font-size: 10px;
    color: var(--app--green);
}
.metric-dash{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light--green);
    font-size: 40px;
    font-weight: 600;
    padding: 0;
}
.dash-card-stats span{
    color: var(--white);
    font-size: 12px;
}
.info-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--app-dark--green);
    width: 100%;
    padding-top: 5px;
}
.info-btn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--app--green);
    border-radius: 5px;
    border: none;
}





.controls{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 10px;
    height: 100%;
}
.zoom-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}
.controls .zoom-btn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--app-dark--green);
    color: var(--white);
    border-radius: 50px;
    border: 1px solid var(--white);
    padding: 4px 4px;
    margin: 0px 0px 5px 0px;
    transition: .2s ease-in-out;
}
.controls .zoom-btn:hover{
    background-color: var(--app--green);
    scale: 1.2;
    transition: .2s ease-in-out;
}
.controls .zoom-btn i{
    font-size: 22px;
}
.controls .reset-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--app-dark--green);
    color: var(--white);
    font-size: 12px;
    border-radius: 50px;
    border: 1px solid var(--white);
    padding: 4px;
    margin: 5px 0px 10px 0px;
    transition: .2s ease-in-out;
}
.controls .reset-btn:hover{
    background-color: var(--app--green);
    scale: 1.2;
    transition: .2s ease-in-out;
}
.controls .reset-btn i{
    font-size: 18px;
}
.map-key{
    background-color: lightgray;
    color: var(--black);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    left: 10px;
    bottom: 20px;
    padding: 3px 5px 5px 5px;
    color: var(--black);
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid darkgrey;
}
.map-key i{
    font-size: 15px;
    color: yellow;
    border-color: var(--white);
}
.key-member-countries{
    padding-top: 2px;
    font-size: 12px;
    font-weight: 500;
    color: var(--black);
}
.key-member-countries span{
    border-radius: 100%;
    width: 10px;
    padding: 0.5px 7px;
    background: linear-gradient(to right, #00ed00, #ff0000);    
    border: 1px;
    margin-left: 3px;
}
.key-africa{
    padding-top: 2px;
    font-size: 12px;
    font-weight: 500;
    color: var(--black);
}
.key-africa i{
    font-size: 12px;
    color: var(--white);
    border: 1px;
}
.key-world{
    padding-top: 2px;
    font-size: 12px;
    font-weight: 500;
    color: var(--black);
}
.key-world i{
    font-size: 12px;
    color: #828282;
}

.bar-chart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    height: 44%;
    width: 100%;
    padding: 10px 0px;
    margin: 2px 0px;
    font-size: 15px;
    z-index: 995;
    color: var(--white);
}
.grey-bar{
    padding: 1.5px;
    background-color: lightgray;
    width: 100%;
}
.bar-chart-container h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 13px;
    background-color: var(--app--green);
    align-self: flex-start;
    padding: 6px 8px 6px 8px;
    }
.pie-chart-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 57, 14);
    height: 55.5%;
    width: 100%;
    margin: 3px 0px 3px 0px;
    padding: 10px 0px;
    border-radius: 0px 5px 0px 0px;
    color: var(--white);
}
.pie-chart-container h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 13px;
    background-color: var(--app--green);
    padding: 5px 8px 5px 8px;
    margin-top: 2px;
}
.line-chart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    height: 43%;
    width: 100%;
    margin: 3px 0px;
    padding: 10px 0px;
    font-size: 15px;
    color: var(--white);
}
.line-chart-container h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 13px;
    background-color: var(--app--green);
    padding: 5px 8px 5px 8px;
    margin-top: 0px;
}
h3 span{
    color: var(--white);
    font-size: 12px;
    font-weight: 500;
}



@media screen  and (max-width: 1276px){
    .bar-chart-container h3{
        font-size: 14px;
    }
    .pie-chart-container h3{
        font-size: 14px;
    }
    .line-chart-container h3{
        font-size: 14px;
    }
    h3 span{
        font-size: 12px;
    }
}
@media screen  and (max-width: 1100px){
    .country-side-menu{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: -100%;
        width: 100%;
        height: 100%;
        padding-top: 30px;
        z-index: 998;
        transition: .3s ease-in-out; 
    }
    .country-side-menu.active{
        left: 0;
        transition: .3s ease-in-out;
    }
    .menu-overlay{
        display: flex;
        justify-content: center;
        position: fixed;
        cursor: pointer;
        top: 90px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 255, 72, 0);   
        z-index: 997; 
    }
    .country-menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        top: 30px;
        left: 0%;
        height: 50%;
        width: 100%;
        z-index: 998;
    }
    .menu-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 6px 15px;
        background-color: var(--light--green);
        color: var(--white);
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px 5px 0px 0px;
    }
    .menu-title i{
        font-size: 26px;
    }
    .country-container{
        border-radius: 0px 0px 5px 5px;
    }
    .country-map-container{
        width: 40%;
    }
    .country-name{
        font-size: 14px;
        border-radius: 5px 0px 0px 5px;
    }

    .country-menu-bio{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 60%;
        height: 100%;
        padding: 10px 20px;
        border-radius: 0px 10px 10px 0px;
    }
    .country-menu-bio img{
        width: 50px;
        height: 35px;
        padding-left: 10px;
    }
    .country-menu-bio h2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 10px;
    }
    .country-menu-bio p{
        font-size: 12px;
    }
    .country-menu-bio button{
        padding: 8px 10px;
        margin: 15px 0px 15px 0px;
    }
}


@media screen  and (max-width: 1024px){
    .msg{
        font-size: 30px;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        flex-direction: column;
        padding: 10px 0px 20px 0px;
    }
    .dashboard-inner-container{
        flex-direction: column;
        height: 100%;
    }
    .dash-container-left{
        width: 100%;
        height: 105vh;
        padding: 5px;
        margin: 0px 0px 24px 0px;
    }
    .dash-currency-input-container{
        font-size: 16px;
    }
    .dash-filters-container{
        height: 100%;
        margin: 0px 0px;
    }
    .dash-filters-container p{
        font-size: 16px;
        padding: 8px 8px 8px 8px;
        align-items: flex-start;
    }
    .dash-filters-title{
        font-size: 16px;
        
    }
    .dash-cards-container{
        height: 100%;
        margin: 2px 0px;    
    }
    .dash-inputs label{
        width: 90%;
        font-size: 14px;
    }
    .dash-select-radio{
        width: 90%;
    }
    .radio-container{
        font-size: 14px;
    }
    .dash-select{
        width: 90%;
    }
    .dash-inputs select{
        padding: 8px;
        width: 100%;
        font-size: 14px;
    }
    .color-codes-container{
        padding: 0% 8%;
    }
    .card-label{
        font-size: 16px;
    }
    .card-count{
        font-size: 16px;
    }
    .reset-filters{
        padding-right: 6%;
    }
    .reset-filters button{
        font-size: 16px;
        padding: 8px 10px;
    }
    .reports-heading{
        font-size: 16px;
    }


    .dash-container-mid{
        width: 100%;
        height: 105vh;
        margin: 0px 0px 24px 0px;
    }
    .map-container{
        height: 50%;
    }
    .map-title{
        font-size: 15px;
    }
    .dash-card-stats{
        top: 50px;
    }
    .country-dash{
        font-size: 12px;
    }
    .metric-dash{
        font-size: 30px;
    }
    .dash-card-stats span{
        font-size: 12px;
    }

    .bar-chart-container{
        height: 50%;
    }
    .dash-container-right{
        width: 100%;
        height: 110vh;
        margin: 0px 0px;
    }
    .explore-msg{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .dash-container-mid{
        width: 100%;
    }
    .dash-container-right{
        width: 100%;
    }

    .bar-chart-container{
        height: 55%;
    }
}

@media screen  and (max-width: 431px){
    .reset-filters{
        padding-left: 7.5%;
    }
}