:root{
    --white: #fff;
    --black: #000000;
    --light--green: #00CD14;
    --bright--green: #12ff2a;
    --app--red: #ED2027; 
    --app--blue: #47a2f7e4; 
    --app--light--blue: #06c4e6; 
    --app--bright--blue: #39cee8d9; 
    --app--green: #03A252; 
    --app--green-hover: #02713a; 
    --app-dark--green: #002600;
}


.closed-feedback{
    cursor: pointer;
    position: fixed;
    display: flex;
    bottom: 110px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 15px 12px;
    background-color: var(--app--light--blue);
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
    z-index: 999;
}
.closed-feedback:hover{
    background-color: var(--app--bright--blue);
    transition: .3s ease-in-out;
    scale: 1.05;
}
.closed-feedback i{
    color: var(--white);
    font-size: 24px;
    padding-left: 5px;
}
.open-feedback{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 40%;
    bottom: 160px;
    right: 10px;
    visibility: hidden;
    opacity: 0;
    scale: 0.2;
    border-radius: 10px;
    transform-origin: bottom right;
    background-color: var(--white);
    color: var(--white);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
    z-index: 9999;
}
.open-feedback.active{
    visibility: visible;
    opacity: 1;
    scale: 1;
    transition: .3s ease-in-out;
}
.open-feedback i{
    cursor: pointer;
    font-size: 28px;
}

.feedback-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--app--light--blue);
    color: var(--white);
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 6px 15px;
    font-size: 15px;
    font-weight: 600;
}
.feedback-header i{
    font-size: 20px;
}
.feedback-body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    width: 100%;
    height: 100%;
    border: 2px solid var(--app--blue);
}
.feedback-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.feedback-messenger-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.initial-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}
.initial-msg i{
    font-size: 40px;
    opacity: 60%;
    color: var(--light--green);
    padding-bottom: 20px;
}
.feedback-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 80%;
}
.feedback-inputs input{
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 10px;
    border-radius: 3px 0px 0px 3px;
    border: 1px solid gray;
}
.feedback-inputs textarea{
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 3px 0px 0px 3px;
    border: 1px solid gray;
}
.feedback-inputs button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--app--green);
    color: var(--white);
    font-size: 15px;
    border: none;
    border-radius: 0px 3px 3px 0px;
    padding: 10px 10px;
    transition: .2s ease-in;
}
.feedback-inputs button:hover{
    background-color: var(--app--green-hover);
    transition: .2s ease-in;
}
.feedback-inputs i{
    font-size: 20px;
    color: var(--white);
}


@media screen  and (max-width: 1024px){
    .open-feedback{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 100%;
        right: 0px;
        visibility: hidden;
        opacity: 0;
        scale: 0.2;
        border-radius: 5px;
        transform-origin: bottom right;
        background-color: var(--white);
        color: var(--white);
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
        transition: .3s ease-in-out;
        z-index: 9999;
    }
    .feedback-header{
        border-radius: 0px 0px 0px 0px;
        padding: 10px 15px;
        font-size: 18px;
        font-weight: 600;
    }
    .feedback-header i{
        font-size: 28px;
    }
    .initial-msg{
        font-size: 13px;
    }
}