:root{
    --white: #fff;
    --light--green: #00CD14;
    --app--red: #ED2027; 
    --app--green: #03A252; 
    --app-dark--green: #002600;
}

.footer-container{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    color: var(--white);
    background-color: var(--app-dark--green);
    width: 100%;
    z-index: 998;
}
.footer-inner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 3px 20px;
    color: var(--white);
    font-size: 10px;
    width: 100%;
}
.footer-inner-container i{
    font-size: 13px;
}
.footer-msg-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  overflow: hidden; /* hide overflowing content */
}

.slide-content {
  display: inline-block;
  white-space: nowrap;
  /* animate along the full width of duplicated content */
  animation: slide-left 10s linear infinite;
}

.inner-content {
  display: inline-block;
}
.inner-content span {
    padding-right: 10px;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    /* move by the width of one set of content */
    transform: translateX(-50%);
  }
}
.footer-msg-right{
    display: flex;
    justify-content: center;
    align-items: center;
}