:root{
    --white: #fff;
    --black: #000000;
    --light--green: #00CD14;
    --app--red: #ED2027; 
    --app--blue: #5683ff; 
    --app--green: #03A252; 
    --app-dark--green: #002600;
}

.rankings-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0% 1% 3% 1%;;
    background: linear-gradient(to bottom,rgb(14, 57, 14), white, white, white);
}
.rankings-page-inner-container{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 5px;
    background-color: lightgray;
    padding: 5px 5px;
}
.rankings-left-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
    gap: 5px;
    background-color: lightgray;
}
.rankings-map-selector-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    background-color: var(--white);
}
.rankings-map-container{
    overflow: hidden;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgb(37, 69, 37), rgb(76, 150, 88), rgb(25, 51, 25));
    height: 80%;
    width: 100%;
    margin: 0px 0px;
}
.rankings-map-border-patch{
    background-color: var(--app--green);
    position: absolute;
    width: 100%;
    top: 0;
    padding: 3px;
    border-radius: 0px;
}
.rankings-map-stats-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    background-color: var(--white);
    z-index: 20;
}



.rankings-right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 55%;
    height: 100%;
    background-color: lightgray;
}
.rankings-filters-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20%;
    width: 100%;
    background-color: var(--white);
}
.rankings-filter-inputs-container{
    display: flex;
    justify-items: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}
.rankings-page-input-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 10px 0px 10px;
    width: 40%;   
    gap: 3px;
}
.rankings-page-input-container  label{
    font-size: 14px;
    padding-right: 10px;
}
.rankings-page-input-container select{
    font-size: 13px;
    color: gray;
    padding: 4px;
    width: 100%;
}
.rankings-reset-filters-btn-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0px;
}
.rankings-reset-filters-btn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    border: none;
    border-radius: 3px;
    font-weight:5600;
    color: var(--white);
    background-color: var(--light--green);
    transition: .1s ease-in;
}
.rankings-reset-filters-btn:hover{
    background-color: var(--app--green);
    transition: .1s ease-in;
}



.rankings-list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    background-color: var(--white);
}
.rankings-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--app--green);
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
}
.rankings-table-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
    overflow: auto;
}
.rankings-table{
  background-color: var(--white);
  width: 100%;
  height: 100%;
  padding: 5px;
  overflow: auto;
}
table{
  width: 100%;
  height: 100%;
  padding: 2px; 
  background-color: var(--white);
}
thead, th{
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding: 5px 8px;
  background-color: #535453;
  color: var(--white);
}
tbody{
    width: 100%;
    overflow-y: scroll;
}
td{  
  font-size: 13px;
  text-align: left;
  padding: 8px;
  border: 1px solid lightgray;
}
tr:nth-of-type(2n) {
    background-color: rgba(109, 240, 166, 0.336);
}
.action-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2px;
}
.action-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 4px 10px;
}
#view-btn{
    color: var(--white);
    background-color: var(--app--blue);
}
#download-btn{
    color: var(--white);
    background-color: var(--app--green);
}
