:root{
    --white: #fff;
    --black: #000000;
    --light--green: #00CD14;
    --app--red: #ED2027; 
    --app--blue: #5683ff; 
    --app--green: #03A252; 
    --app-dark--green: #002600;
}
 

.upload-page{
    padding: 1% 1% 3% 1%;;
    background-color: var(--app-dark--green);
}
.upload-page-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: var(--white);
    gap: 10px;
    padding: 1% 5%;
    font-size: 14px;
    font-weight: 500;
}
.upload-page-notice h5{
    padding: 0;
    margin-bottom: 6px;
    text-decoration: none;
    font-size: 16px;
}
.upload-page-notice span{
    color: var(--app--red);
}
.upload-page-banner img{
    width: 300px;
}
.upload-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0px;
}
.upload-left{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    gap: 8px;
    background-color: lightgray;
    padding: 10px 10px 10px 10px;
}
.upload-right{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    gap: 3px;
    background-color: var(--white);
    padding: 10px 10px 10px 10px;
}
.upload-dash-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--white);
    gap: 8px;
    height: 100vh;
    width: 50%;
    padding: 10px;
}
.upload-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5px 5px 5px 10px;
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--app--green);
    border-radius: 5px 5px 0px 0px;
}
.upload-dash{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid var(--black);
    width: 100%;
    gap: 15px;
}
.upload-heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.sub-title{
    font-size: 15px;
    font-weight: 600;
    color: var(--light--green);
}
.filter-instructions{
    color: red;
    font-size: 14px;
}
.upload-dropdowns-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #00ff1a41;
    gap: 20px;
    padding: 10px;
}
.upload-dropdowns-container p{
    display: flex;
    font-size: 14px;
}
.upload-inputs-container{
    display: flex;
    width: 100%;
    gap: 20px;
}
.upload-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.upload-inputs label{
    font-size: 13px;
    color: var(--app-dark--green);
    padding-bottom: 5px;
}
.upload-inputs select{
    background-color: var(--white);
    border: 1px solid rgb(133, 133, 133);
    border-radius: 3px;
    padding: 4px 8px;
    font-size: 12px;
    color: rgb(136, 136, 136);
}
.upload-inputs input{
    background-color: var(--white);
    border: 1px solid rgb(133, 133, 133);
    border-radius: 3px;
    padding: 4px 8px;
    width: 100%;
}
.update-dash-btn{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}
.update-dash-btn button{
    font-size: 14px;
    font-weight: 600;
    padding: 8px 10px;
    border-radius: 3px;
    border: none;
    background-color: var(--light--green);
    color: var(--white);
}







.upload-form-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: 50%;
    background-color: var(--white);
    gap: 10px;
    padding: 10px;
    
    
}
.upload-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid var(--black);
    width: 100%;
    height: 100%;
    gap: 10px;
    overflow-y: auto;
}
.upload-drop-zone{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px dashed #6c6c6c;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;  
    width: 100%;
    height: 60%;
    gap: 10px;
    overflow-y: scroll;
}
.upload-zone-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
}
.upload-drop-zone p{
    font-size: 14px;
}
.upload-drop-zone button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 6px 25px;
    color: var(--white);
    background-color: var(--app--blue);
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    gap: 5px;
}
.upload-drop-zone .upload-btn i{
    font-size: 13px;
    color: var(--white);
}

.files-to-upload{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.files-to-upload h4{
    font-size: 12px;
}
.upload-drop-zone li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    font-size: 12px;
    gap: 5px;
}

.upload-drop-zone .delete-file-btn{
    color: var(--white);
    background-color: var(--app--red);
    padding: 5px;
    border: none;
    font-size: 12px;
}
.additional-comments{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.additional-comments textarea{
    font-family: "Poppins", sans-serif;
    padding: 4px;
    height: 100%;
    width: 100%;
}
.additional-comments label{
    font-size: 14px;
    padding-bottom: 5px;
    width: 100%;
}
.upload-form-btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.upload-form-btns button{
    cursor: pointer;
    padding: 10px 15px;
    width: 30%;
    color: var(--white);
    border: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
}
.btn-clear{
    background-color: #ED2027;
}
.btn-submit{
    background-color: var(--light--green);
}





.download-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--app--green);
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    margin-bottom: 10px;
}
.dowload-report{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    overflow: auto;
}
.download-sub-heading{
    display: flex;
    width: 100%;
    gap: 10px;
}

.reports-table{
  background-color: var(--white);
  width: 100%;
  height: 100%;
  padding: 5px;
  overflow: auto;
}
table{
  width: 100%;
  height: 100%;
  padding: 2px; 
  background-color: var(--white);
}
thead, th{
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding: 5px 8px;
  background-color: #535453;
  color: var(--white);
}
tbody{
    width: 100%;
    overflow-y: scroll;
}
td{  
  font-size: 12px;
  text-align: left;
  padding: 8px;
  border: 1px solid lightgray;
}
tr:nth-of-type(2n) {
    background-color: rgba(109, 240, 166, 0.336);
}
.action-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2px;
    border: none;
}
.action-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 4px 10px;
}
#view-btn{
    color: var(--white);
    background-color: var(--app--blue);
}
#download-btn{
    color: var(--white);
    background-color: var(--app--green);
}

@media screen  and (max-width: 1024px){
    .upload-left{
        height: 100%;
        flex-direction: column;
    }
    .upload-dash-container{
        width: 100%;
    }
    .upload-form-container{
        width: 100%;
    }
    .upload-page-banner img{
        width: 280px;
    }
    .upload-page-notice h5{
        font-size: 16px;
    }
    .upload-page-banner{
        flex-direction: column;
        padding-bottom: 30px;
        gap: 10px;
        padding-top: 10px;
    }
    .upload-dropdowns-container{
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        gap: 8px;
    }
    .upload-dropdowns-container p{
        font-size: 16px;
        padding-bottom: 3px;
    }
    .upload-heading{
        flex-wrap: wrap;
    }
    .upload-inputs{
        width: 100%;
    }
    .upload-inputs input{
        width: 100%;
        padding: 6px;
        font-size: 14px;
    }
    .upload-inputs select{
        width: 100%;
        padding: 6px;
        font-size: 14px;
    }
    .download-sub-heading{
        flex-direction: column;
        padding-left: 10px;
    }
    .sub-title{
        font-size: 16px;
    }
    .filter-instructions{
        font-size: 12px;
    }
    .reports-table{
        padding: 0px;
    }
}