:root{
    --white: #fff;
    --black: #000000;
    --light--green: #00CD14;
    --app--red: #ED2027; 
    --app--green: #03A252; 
    --app-dark--green: #002600;
}

.login-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-overlay{
    opacity: 80%;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    z-index: 1000;
    top: 0;
}
.login-form-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    top: 10%;
    width: 45%;
    height: 75%;
    z-index: 1001;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}
.login-form-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 6px;
    background-color: var(--light--green);
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px 10px 0px 0px;
}
.login-form-header i{
    cursor: pointer;
    font-size: 25px;
    padding-right: 1%;
}
.login-form-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}
.login-form-body h1{
    font-weight: 500;
    font-size: 30px;
    color: rgb(128, 126, 126);
}
.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    gap: 5px;
}
.input-container input{
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: rgb(227, 226, 226);
}
.input-container label{
    font-size: 16px;
    color: #606060;
}
.success-message {
    padding: 0;
    margin: 0;
    color: var(--light--green);
}
.error-message {
    padding: 0;
    margin: 0;
    color: red;
}
.signin-btn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--light--green);
    color: var(--white);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
.dont-have-account a{
    text-decoration: none;
    color: var(--app--green);
    font-weight: 600;
}
.or-container{
    font-size: 14px;
}
.continue-with-google{
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #606060;
}
.continue-with-google img{
    width: 30px;
}



@media screen  and (max-width: 1024px){
    .login-form-container{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--white);
        border-radius: 10px;
        top: 10%;
        width: 90%;
        height: 70%;
        z-index: 1001;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    }
    .login-form-body{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
        padding-bottom: 10px;
    }
    .login-form-body h1{
        font-size: 26px;
    }
}